@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');


:root{
    --manrope:"Manrope", sans-serif;
    --lightgreen: #43FFA1;
    --purple: #24053E;
    --white: white;
    --fraunces:"Fraunces", serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-shape-divider-top-1725674615 {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1725674615 svg {
    position: relative;
    display: block;
    width: calc(281% + 1.3px);
    height: 165px;
}

.custom-shape-divider-top-1725674615 .shape-fill {
    fill: var(--purple);
}
.container{
    height: 690px;
    background: var(--purple);
    margin-bottom: 10.0625rem;

}
.navbar{
    max-width: 100%;
    margin: 0px 160px;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0rem 0rem 0rem;
    align-items: center;

}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    font-family: var(--manrope);
    border-bottom: 3px solid var(--lightgreen);
    padding-bottom: 4px;
}
.work-it-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3.5rem;
}
.hero-title{
    font-size: 80px;
    text-align: center;
    width: 550px;
    font-family: var();
    color: var(--white);
    font-family: "Fraunces", system-ui;
    font-weight: 400;
}
.bold{
    border-bottom: 3px solid var(--lightgreen);
    padding-bottom: 4px;
}
.hero-btn{
    padding: 12px 32px;
    background: var(--lightgreen);
    border: none;
    color: var(--purple);
    font-size: 18px;
    font-family: var(--manrope);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
.hero-btn:hover{
    background: var(--white);
    color: var(--purple);
}
.pattern-1{
    position: absolute;
    top: 12%;
    left: -7.1%;
}
.pattern-2{
    position: absolute;
    right: -3.2%;
    top: 35%;
}
.hero-img{
    display: block;
    width: 730px;
    position: absolute;
    top: 50%;
    left: 25%;
}

.workit-services{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.services-container-card{
    max-width: 1440px;
    margin: 0px 160px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 88px 0px 144px 0px;
    flex-wrap: wrap;
}
.services-card{
    display: flex;
    flex-direction: column;
    max-width: 352px;
    text-align: center;
    align-items: center;
    gap: 3.5rem ;
    justify-content: space-between;
    height: 306px;
}
.service-info{
    gap: 1.75rem;
    display: flex;
    flex-direction: column;
}
.service-number{
    border: 1px solid #584D62;
    border-radius: 100%;
    padding: 30px;
    font-family: var(--fraunces);
    font-size: 24px;
    color: #584D62;
}
.service-title{
    font-family: var(--fraunces);
    font-size: 24px;
    color: #584D62;
}
.service-info p{
    font-size: 18px;
    color: #584D62;
    font-family: var(--manrope);
}
.about_me{
    margin-top: 72px;
    
}
.about_me_container{
    margin: 0px 160px;
    display: flex;
    flex-direction: row;
}
.founder_info{
    margin-top: 168px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: var(--purple);
    padding: 64px;
    gap: 32px;
    justify-content: space-between;
    z-index: 2;
    margin-left: 390px;
    
}
.pattern-me{
    position: absolute;
    right: 15%;
    top: 195%;
}
.founder_btn{
    padding: 17.5px 32px;
    width: 233px;
    color: var(--purple);
    font-size: 18px;
    background-color: #43FFA1;
    border: none;
    text-align: center;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.founder_info p{
    font-size: 18px;
    font-family: var(--manrope);
    color: var(--white);
    line-height: 180%;
}
.founder_info h1{
    font-size: 56px;
    font-family: var(--fraunces);
    color: var(--white);
}
.founder_pic{
    width: 477px;
    height: auto;
}
.about_me_pic{
    position: absolute;
}
.workit-footer{
    padding: 112px 0px;
}
.workit-footer .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 56px;
}
.icons{
    gap: 28px;
    display: flex;
}
.founder_btn:hover{
    background: var(--white);
    color: var(--purple);
}
@media screen and (max-width: 1104px) {
    .founder_info{
        margin-left: 50px;
        margin-top: 200px;
    }
    
}
@media screen and (max-width: 1047px) {
    .hero-img{
        width: 60%;
    }
    .services-container-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        width: 100%;
    }
    
    
}
@media screen and (max-width: 986) {
    .services-container-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .navbar{
        margin: 0px 44px;
        padding: 32px  0px 0px 0px;
    }
    .hero-img{
        top: 60%;
        width: 80%;
        height: auto;
        left: 15%;
    }
    .service-number{
        padding: 20px;
    }
    .hero-title{
        font-size: 60px;
        height: auto;
        width: 70%;
    }
    .services-container-card{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0px 44px;
    }
    .services-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
    }
    .service-info{
        display: flex;
        gap: 28px;
        align-items: flex-start;
        text-align: start;
        padding: 32px;
    }
    .service-info P{
        font-size: 16px;
    }
    .service-info h1{
        font-size: 28;
    }
    .service-number{
        font-size: 20px;
    }
    .founder_pic{
        width: 280px;
    }
    .about_me_container{
        margin: 44px;
    }
    .founder_info{
        margin-top: 170px;
        margin-left: 155px;
    }
    .founder_info h1{
        font-size: 48px;
    }
    .founder_info p{
        font-size: 16px;
    }
    .workit-footer{
        padding: 80px 0px;
    }
    .pattern-me{
        position: absolute;
        right: 15%;
        top: 275%;
    }
}  
@media screen and (max-width: 656px) {
    .founder_info{
        margin: 250px 0px 0px 0px;
    }
    .founder_btn{
        width: 100%;
    }
}



@media screen and (max-width: 768px) {
    .navbar{
        margin: 0px 44px;
        padding: 32px  0px 0px 0px;
    }
    .hero-img{
        top: 60%;
        width: 80%;
        height: auto;
        left: 15%;
    }
    .hero-title{
        font-size: 60px;
        height: auto;
        width: 70%;
    }
    .services-container-card{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0px 44px;
    }
    .services-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
    }
    .service-info{
        display: flex;
        gap: 28px;
        align-items: flex-start;
        text-align: start;
        padding: 32px;
    }
    .service-info P{
        font-size: 16px;
    }
    .service-info h1{
        font-size: 28;
    }
    .service-number{
        font-size: 20px;
    }
    .founder_pic{
        width: 280px;
    }
    .about_me_container{
        margin: 44px;
    }
    .founder_info h1{
        font-size: 48px;
    }
    .founder_info p{
        font-size: 16px;
    }
    .workit-footer{
        padding: 80px 0px;
    }
    .pattern-me{
        position: absolute;
        right: 15%;
        top: 275%;
    }
}  
@media screen and (max-width: 768px) {
    .founder_btn{
        width: 100%;
    }
}



@media screen and (max-width: 375px) {
    .founder_info{
        margin: 180px auto;
    }
    .founder_btn{
        width: 100%;
    }
    .navbar{
        margin: 0px 22px;
    }
    .hero-title{
        width: 85%;
        font-size: 40px;
    }
    .hero-img{
        top: 40%;
    }
    .pattern-1 , .pattern-2 {
        display: none;
    }
    .container{
        height: 481px;
        margin-bottom: 5.0625rem;
    }
    .custom-shape-divider-top-1725674615{
        top: 44%;
    }
    .services-container-card{
        margin: 0px 22px;
    }
    .services-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
    }
    .service-title{
        font-size: 24px;
    }
    .service-info p{
        text-align: center;
    }
    .service-info p{
        font-size: 16px;
    }
    .service-info{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }
    .service-number{
        font-size: 20px;
    }
    .workit-services{
        padding-top: 0px;
    }
    .about_me_container{
        margin: 0px 22px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .founder_info{
        margin: 250px 0px 0px 0px;
        padding: 32px;
    }
    .founder_info p{
        font-size: 16px;
    }
    .pattern-me{
        display: none;
    }
}     

@media screen and (max-width: 375px) {
    .founder_info{
        margin: 180px auto;
    }
    .founder_btn{
        width: 100%;
    }
    .navbar{
        margin: 0px 22px;
    }
    .hero-title{
        width: 85%;
        font-size: 40px;
    }
    .hero-img{
        top: 40%;
    }
    .pattern-1 , .pattern-2 {
        display: none;
    }
    .container{
        height: 481px;
        margin-bottom: 5.0625rem;
    }
    .custom-shape-divider-top-1725674615{
        top: 44%;
    }
    .services-container-card{
        margin: 0px 22px;
    }
    .services-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
    }
    .service-title{
        font-size: 24px;
    }
    .service-info p{
        text-align: center;
    }
    .service-info p{
        font-size: 16px;
    }
    .service-info{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }
    .service-number{
        font-size: 20px;
    }
    .workit-services{
        padding-top: 0px;
    }
    .about_me_container{
        margin: 0px 22px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .founder_info{
        margin: 250px 0px 0px 0px;
        padding: 32px;
    }
    .founder_info p{
        font-size: 16px;
    }
    .pattern-me{
        display: none;
    }
    .service-number{
        padding: 15px;
    }
}     